body{
    font-family: 'Montserrat', sans-serif;
}

a{
    color: black;
}
.navbar-img{
    width: 150px;
}
.bg-light {
    background-color: #ffc800ad!important;
}
.nav-item{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 40px;
    color: black;
}

.navbar-company{
    position: absolute;
    right: 20px;
    font-size: 50px;
    font-weight: 900;
    color: #5f5300;
    letter-spacing: 10px;
}
.navbar-brand{
    color: black;
    font-size: 50px;
}
.light-yellow{
    background-color: #fff70340;
}
.card-heading{
    height: 40px;
    color: black;
    font-weight: 900;
}

.card-img{
    width: 100%;
    height: 200px;
}

.main-heading{
    font-weight: 900;
    font-size: 100px;
}

.main-img{
    width: 100%;
}

.tnc{
    font-size: 20px;
    color: white;
}
.row-header{
    margin: 0px auto;
    padding:0px;
    
    }
.row-content{
    margin:0px auto;
    padding:50px 0px 50px 0px;
    border-bottom: 1px ridge;
    background-color: #fff8bd;
}

.footer
{
    background-color: white;
    margin:0px auto;
    padding:20px 0px 20px 0px;
}

.open-app{
    background-color: #ff0c03c9;
    border-radius: 60px;
    padding-left: 90px !important;
    width: 100%;
    color: white !important;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 14px;
}
.mobile-view{
    display: none;
}
@media screen and (max-width: 768px) {
    .col-sm-1 {
      width: 8.334% !important;
    }
    .col-sm-2 {
        width: 16.667% !important;
    }
    .col-sm-8 {
        width: 66.667% !important;
      }
    .col-sm-10 {
        width: 83.33% !important;
    }

    .navbar-img{
        width: 100px;
    }
    .nav-item{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 25px;
        color: black;
    }
    
    .navbar-company{
        top: 30px;
        right: 90px;
        font-size: 30px;
    }
    .navbar-brand{
        color: black;
        font-size: 50px;
    }
    .card-heading{
        height: 40px;
        color: black;
        font-weight: 900;
    }
    
    .card-img{
        width: 100%;
        height: 200px;
    }
    
    .main-heading{
        font-size: 60px;
    }
    
    .main-img{
        width: 100%;
    }
    
    .tnc{
        font-size: 20px;
        color: white;
    }
    .mobile-view{
        display: block;
    }
  }